# Alargar o tamanho das células

In [17]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

# Mostrar todos os registos ou apenas x de uma DataFrame

```pandas.set_option('display.max_rows', None)``` - mostrar todos os registos

```pandas.set_option('display.max_rows', 10)``` - mostrar apenas 10 registos

# Mostrar outputs lado a lado - exemplo 1

In [18]:
import pandas as pd
import numpy as np
from IPython.display import display, HTML, display_html

df1 = pd.DataFrame(np.arange(12).reshape((3,4)),columns=['A','B','C','D',])
df2 = pd.DataFrame(np.arange(16).reshape((4,4)),columns=['A','B','C','D',])
df3 = pd.DataFrame(np.arange(40).reshape((10,4)),columns=['A','B','C','D',])

def display_side_by_side(dfs:list, captions:list):
    """Display tables side by side to save vertical space
    Input:
        dfs: list of pandas.DataFrame
        captions: list of table captions
    """
    output = ""
    combined = dict(zip(captions, dfs))
    for caption, df in combined.items():
        output += df.style.set_table_attributes("style='display:inline'").set_caption(caption)._repr_html_()
        output += "\xa0\xa0\xa0"
    display(HTML(output))
 
display_side_by_side([df1, df2, df3], captions=['tabela 1', 'tabela 2', 'tabela 3'])

# Mostrar outputs lado a lado - exemplo 2

In [19]:
from ipywidgets import widgets, Layout
from IPython import display
import pandas as pd
import numpy as np

# sample data
df1 = pd.DataFrame(np.random.randn(8, 3))
df2 = pd.DataFrame(np.random.randn(8, 3))

# create output widgets
widget1 = widgets.Output()
widget2 = widgets.Output()

# render in output widgets
with widget1:
    display.display(df1.style.set_caption('First dataframe'))
    df1.info()
with widget2:
    display.display(df2.style.set_caption('Second dataframe'))
    df1.info()


# add some CSS styles to distribute free space
box_layout = Layout(display='flex',
                    flex_flow='row',
                    justify_content='space-around',
                    width='auto'
                   )
    
# create Horisontal Box container
hbox = widgets.HBox([widget1, widget2], layout=box_layout)

# render hbox
hbox

HBox(children=(Output(), Output()), layout=Layout(display='flex', flex_flow='row', justify_content='space-arou…

# Selecionar e atualizar registos em DataFrames

In [31]:
# importing pandas and numpy
import pandas as pd
import numpy as np
from IPython.display import display

# crete a sample dataframe
data = pd.DataFrame({
    'age' :     [ 10, 22, 13, 21, 12, 11, 17],
    'section' : [ 'A', 'B', 'C', 'B', 'B', 'A', 'A'],
    'city' :    [ 'Gurgaon', 'Delhi', 'Mumbai', 'Delhi', 'Mumbai', 'Delhi', 'Mumbai'],
    'gender' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'favourite_color' : [ 'red', np.NAN, 'yellow', np.NAN, 'black', 'green', 'red']
})

# view the data
display(data)

# select all rows with a condition
data.loc[data.age >= 15]

# select with multiple conditions
data.loc[(data.age >= 12) & (data.gender == 'M')]

#slice
data.loc[1:3]

# select few columns with a condition
data.loc[(data.age >= 12), ['city', 'gender']]

# update a column with condition
data.loc[(data.age >= 12), ['section']] = 'M'

# update multiple columns with condition
data.loc[(data.age >= 20), ['section', 'city']] = ['S','Pune']

#data

   age section     city gender favourite_color
0   10       A  Gurgaon      M             red
1   22       B    Delhi      F             NaN
2   13       C   Mumbai      F          yellow
3   21       B    Delhi      M             NaN
4   12       B   Mumbai      M           black
5   11       A    Delhi      M           green
6   17       A   Mumbai      F             red

# Converter DataFrame para dict

In [32]:
for i in data.T.to_dict("records"):
    print(i)

{0: 10, 1: 22, 2: 13, 3: 21, 4: 12, 5: 11, 6: 17}
{0: 'A', 1: 'S', 2: 'M', 3: 'S', 4: 'M', 5: 'A', 6: 'M'}
{0: 'Gurgaon', 1: 'Pune', 2: 'Mumbai', 3: 'Pune', 4: 'Mumbai', 5: 'Delhi', 6: 'Mumbai'}
{0: 'M', 1: 'F', 2: 'F', 3: 'M', 4: 'M', 5: 'M', 6: 'F'}
{0: 'red', 1: nan, 2: 'yellow', 3: nan, 4: 'black', 5: 'green', 6: 'red'}

# Ler vários ficheiros json numa diretoria e carregá-los numa DataFrame

- Limpar valores a null
- criar nova coluna selecionando x bytes de outro campo
- eliminar duplicados
- somar campos agrupando-os por outros campos

In [15]:
import pandas as pd
from pathlib import Path
import json

a = []

for filename in Path.cwd().glob(r'input/*.json'):
    with open(filename) as json_file:
        data = json.load(json_file)
        a += data
df = pd.DataFrame(a)

# Limpar valores null
df['BusinessProcessName'].fillna('sem valor', inplace=True)
df['processName'].fillna('sem valor', inplace=True)
df['Erro'].fillna(0, inplace=True)

# Criar nova coluna 
df['data'] = df.timeStamp.apply(lambda x: x[:10])

# Eliminar duplicados de um campo
df.drop_duplicates(subset='fingerprint', keep="last")

# somar campos agrupando-os por outros campos
df_total = df.groupby(['data', 'nome'])[['campo1', 'campo2', 'campo3']].sum()